<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <span class="card-bg" style="background-image:url('<%=cocktail.image_url%>')"></span>
      <span class="card-shadow"></span>
      <span class="card-description"><%=cocktail.name%></span>
      <span class="card-text">
        <h2><%=cocktail.name%></h2>
      </span>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-link"></div>
      <%end%>
    </div>

  <%end%>

  <p><%= link_to('Add a niew cocktail', new_cocktail_path) %></p>
</div>
